{
  "name": "jxtensions",
  "version": "1.0",
  "author": "Boughpohpue Lukas Kulik"
  "domain": "web-development",
  "subdomain": "client-side",
  "category": "utils",
  "group": "javascript",
  "export_as": "function",
  "requires": [],
  "content": [
    "*.js"
  ],
  "description": "Extension methods for js bilt-in types: object, array, date",
  "tags": [
    "js",
    "javascript",
    "extensions",
    "javascript extensions",
    "extension methods",
    "javascript extension methods",
    "object extensions",
    "javascript object extensions",
    "array extensions",
    "javascript array extensions",
    "date extensions",
    "javascript date extensions"
  ]
}
